*{
  margin: 0;
  padding: 0;
  /* background-color: red; */
  font-family: 'Open Sans', sans-serif;
}
.width-1140{
  width: 1140px;
}
.d-flex{
  display: flex;
}
.aln-c{
  align-items: center;
}
.pdn-10{
  padding: 10px;
}
.top-section{
    width: 100%;
    height: 750px;
    background-image: url(img/car-1.jpg);
    background-position: center;
    background-size: cover;
}
.top-heading{
  height: 55px;
  margin: auto;
  font-size: 13px;
  color: white;
  justify-content: space-between;
  border-bottom: solid 1px #c0bbb1;
}
.language-drop ul li{
  padding: 3px 0;
  list-style-type: none;
}
.language-sec, .cart-section{
  padding: 0 15px;
}
.language-sec a{
  text-decoration: none;
  color: white;
}
.language-sec a span{
  padding: 0 5px;
}
.language-drop{
  display: none;
  position: relative;
}
.language-drop ul{
  position: absolute;
  top: 15px;
}
.icon-links a{
    text-decoration: none;
    padding: 0 8px;
    color: white;
    font-size: 15px;
}
/* .icon-links ul li{
  padding: 0 5px;
} */
/* .icon-links a:nth-child(4){
  padding: 0px;
} */
.main-logo-nav{
  height: 100px;
  margin: 3px auto auto;
  border-top: solid 1px #c0bbb1;
  margin-top: 3px;
  justify-content: space-between;

}
.logo-car img{
  width: 190px;
  height: 50px;

}
.Main-nav{
  font-size: 14px;
  align-items: center;
}
.nav-drop{
  position: relative;
  display: inline-block;
  height: 30px;
  margin-top: 10px;
}
.nav-drop a{
  text-decoration: none;
  padding: 0 10px;
  color: white;
  font-weight: bold;
}
.drop-list{
    display: none;
    position: absolute;
    top: 30px;
    left: 10px;
    background-color: white;
    width: 175px;
    list-style-type: none;
    border-top: 2px solid #ba0913;
    /* padding: 10px; */
}
.drop-list li{
  border-bottom: solid 1px #c0bbb1;
  padding: 15px;
  display: block;
}
.drop-list li span{
  padding-right: 10px;
}
.nav-button{
    padding: 17px;
    background-color: #ba0913;
    color: white;
    outline: none;
    border: 0px;
    margin-left: 40px;
}
.about-outer{
  position:relative;
}
.nav-drop:hover .drop-list{
  display: block;
}
.about-outer:hover .drop-list{
  display:block;
}
.nav-drop:hover a{
  color: #ba0913;
}
.drop-list li:hover{
  background-color: #d3d3d326;
  color: #ba0913;
}
.na-btn-decor{
      display: none;
      width: 20px;
      height: 1px;
      background-color: #ba0913;
      position: absolute;
      /* background-color: red; */
      bottom: -5px;
      left: 12px;
}
.na-btn-decor::before{
  width: 30px;
  height: 2px;
  position: absolute;
  background-color: #ba0913;
  content: '';
  bottom: 3px;
}
.na-btn-decor::after{
  width: 10px;
  height: 1px;
  position: absolute;
  background-color: #ba0913;
  content: '';
  bottom: -3px;
}
.nav-drop:active{
  color: #ba0913;
}
.nav-drop:hover .na-btn-decor{
  display: block;
}
.fade-in-bottom {
	-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.inner-data{
  height: 400px;
  margin: auto;
  color:white;
  justify-content: center;
  flex-direction:column;
}
.btn-know{
    padding: 15px 35px;
    background-color: black;
    color: white;
    outline: none;
    border: 0px;
    margin: 20px 10px;
    cursor: pointer;
    transition: all 1s;
}
.btn-Shop{
  padding: 15px 35px;
  background-color: #ba0913;
  color: white;
  outline: none;
  border: 0px;
  margin: 20px 10px;
  cursor: pointer;
  transition: all 1s;
}
.sprs-line{
  width: 80px;
  height: 1px;
  background-color: white;
  margin: 0 7px;
}
.btn-know:hover{
  background-color: #ba0913;
}
.btn-Shop:hover{
  background-color: black;
}

 @media all and (max-width: 1150px){
   .top-section,.top-heading,.main-logo-nav{
     width: 100%;
   }
   .logo-car{
     padding-left: 10px;
   }
   .nav-head{
     padding-right: 10px;
   }
 }

 @media all and (max-width: 768px){
   .top-heading{
     display: none;
   }
 }

.slide-left {
	-webkit-animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(25px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
