*{
  margin: 0;
  padding: 0;
  /* background-color: red; */
  font-family: 'Open Sans', sans-serif;
}
.width-1140{
  width: 1140px;
}
.d-flex{
  display: flex;
}
.aln-c{
  align-items: center;
}
.pdn-10{
  padding: 10px;
}
.top-section{
    width: 100%;
    height: 750px;
    background-image: url(img/car-1.jpg);
    background-position: center;
    background-size: cover;
}
.top-heading{
  height: 55px;
  margin: auto;
  font-size: 13px;
  color: white;
  justify-content: space-between;
  border-bottom-style: double;
  border-bottom-color: #c0bbb1;
}
.language-drop ul li{
  padding: 3px 0;
  list-style-type: none;
}
.language-sec, .cart-section{
  padding: 0 5px;
}
.language-sec a{
  text-decoration: none;
  color: white;
}
.language-sec a span{
  padding: 0 5px;
}
.language-drop{
  display: none;
  position: relative;
}
.language-drop ul{
  position: absolute;
  top: 15px;
}
.social-icons ul{
    list-style-type: none;
    display: flex;

}
.social-icons ul li{
  padding: 0 5px;
}
.social-icons ul:nth-child(4){
  padding: 0px;
  color: red;
  background-color: lime;
}
